.onion-multi-block-chunk {
    display: inline-block;
    width: 100%;
    max-width: 20rem;

    text-align: center;
}

.onion-multi-block-chunk > .icon-container {
    font-size: 5rem;
}

.onion-multi-block-chunk > img {
    max-width: 100%;
}
