@import '../../variables.css';


.onion-gutter.onion-desktop-size--regular {
    margin: 0 auto;
    width: 1024px;
    max-width: 100%;
}

.onion-gutter.onion-desktop-size--none,
.onion-gutter.onion-desktop-size--regular {
    @media screen and (max-width: var(--breakpoint-desktop-lower)) {
        width: 100%;
    }
}

.onion-gutter.onion-mobile-size--none,
.onion-gutter.onion-mobile-size--regular {
    display: inherit;
}

.onion-gutter.onion-mobile-size--regular .onion-inner-gutter {
    padding: 0 1rem;
}
